<div class="post-container" id="post-container" *ngIf ="!spinnerLoading">

  <div *ngFor="let post of post" class="post" (click)="onClickShowPostComments(post)">
    <div class="number">{{ post.id }}</div>
    <div class="post-info">
      <h2 class="post-title">{{ post.title }}</h2>
      <p class="post-content">{{ post.body }}</p>

      <!-- Comments Sections -->
      <td *ngIf="post.id === selectedPost.id">
        <span *ngFor="let comment of comments">
          <h6 class="email">Email</h6>
          <span class="email">{{ comment.email }}</span>
          <h6 class="email">Comments</h6>
          <span class="body">{{ comment.body }}</span>
        </span>
      </td>

    </div>
  </div>
</div>

<!-- Loading symbol -->
<div class="spinner" *ngIf ="spinnerLoading">
	<div class="bounce1"></div>
	<div class="bounce2"></div>
	<div class="bounce3"></div>
</div>

