@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");


* {
    box-sizing: border-box;
}


/* body {
    font-family: "Lato", sans-serif;
    color: white;
    background-image: linear-gradient(
        30deg,
        rgba(12, 12, 14, 0.719),
        rgba(2, 1, 2, 0.801)
    );
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 100px;
    min-height: 100vh;

} */
/*  
h1 {
    margin-bottom: 0;
    text-align: center;
} */

/* FOR INPUT BOX  */

/* .filter-container {
    margin-top: 20px;
    width: 80vw;
    max-width: 800px;
    padding-left: 400px;
    
} */

/* .filter{
 width: 60%;
 padding: 12px;
 font-style: italic;
 outline: none;
 border: 1px solid black;
 box-shadow: 0 3px 5px #ecebeb, 0 1px 3px #ecebeb;

}
#restrict_box {
    width: 35%;
    padding: 12px;
    margin-left: 25px;
    font-style: italic;
    outline: none;
    border: 1px solid black;
    box-shadow: 0 3px 5px #ecebeb, 0 1px 3px #ecebeb;
} */

/* FOR POST CONTAINER  */

.post-container {
    margin: 20px;
}

.post {
    margin: 40px 0;
    box-shadow: 0 1px 3px #ecebeb, 0 1px 3px #ecebeb;
    border-radius: 5px;
    width: 80vw;
    padding: 20px;
    display: flex;
    padding: 20px;
    position: relative;
    max-width: 800px;
    border: 1px solid  black;
    cursor: pointer;
    /* transition: transform 1s ease-out; */
    transition: all .2s ease-in-out;


}

.post:hover {
    /* transform: scale(0.1); */
    transform: scale(1.1);
}

.post .post-title {
    margin: 0;
}

/* .post .post-content {
    line-height: 1.3px;
    margin: 15px 0 0 ;
} */

.post .post-info {
    margin-left: 20px;

}

/* FOR NUMBER CIRCLE */

.post .number {
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 15px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 7px 10px; */
}


/* FOR ANIMATION CIRCLE  */

.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
}

.loader.show {
    opacity: 1.5;
}

.circle {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.2s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.3s;
}


@keyframes bounce {

    0%, 
    100%{
        transform:translateY(0);

    }

    50% {
        transform:translateY(-10px)
    }
}


/* .post:nth-of-type(even){
    transform: translateX(1000px);
  }
  .post.show{
    transform: translateX(500);
  } */
  /* .post h2{
    font-size: 40px;
  } */