
.filter-container{
    width: 100%;
    height: 80px;
    background-color: #f3f3f3;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.filter{
    float: left;
    width: 24%;
    line-height: 2.5;
    margin: 0 0.5%;
    text-align: center;
}

.radio-filter{
    width: 49%;
}

.filter select,
.filter input[type='search']{
    margin-bottom: 0;
    width: 100%;
}

.radio-filter label{
    display: inline-block;
    margin-right: 8px;
}

.radio-filter label span{
    vertical-align: bottom;
}

