.tag-container {
    margin: 30px;
    border: 1px solid lightgrey;
    cursor: auto;
    color: lightgrey;  
}

.tag-item {
    width: fit-content;
    margin: 10px;
    padding: 3px 8px;
    border: lightgrey;
    border-radius: 5px;
    color: black;
    background-color: lightgray;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

.tag-item:hover {
    background-color: #fde0e0;
}
.fa{
    float: right;
    font-size: 30px;
    margin: 10px;
    color: blue;
    cursor: pointer;
    opacity: 0.2;
}
.active-button{
    opacity: 1;
}
.active-user {
    background-color: #fde0e0;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

table thead {
    background-color: navy;
    color: white;
}

th:first-child, td:first-child {
    padding-left: 15px;
}

table tbody tr {
    cursor: pointer;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.project-list{
    justify-content: space-around;
    background-color: aquamarine;
    margin: 25px;
    border: 1px solid black;
    width: 250px;
    border-radius: 3px;
}

@media (max-width: 800px) {
    .project-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 700px) {
    .project-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .project-list {
      height: 200px;
      width: 200px;
    }
  }
  
  @media screen and ( max-width:825px){
    .tag-container{
        width:80%;
    }

}