.tag-container {
    display: flex;
    flex-direction: row;
    margin: 30px;
    border: 1px solid lightgrey;
    cursor: auto;
    color: lightgrey;
    display: block;
}

.tag-item {
    width: fit-content;
    margin: 10px;
    padding: 3px 8px;
    border: lightgrey;
    border-radius: 5px;
    color: black;
    background-color: lightgray;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

.tag-item:hover {
    background-color: #fde0e0;
}
.fa{
    float: right;
    font-size: 30px;
    margin: 10px;
    color: blue;
    cursor: pointer;
}
.active-user {
    background-color: #fde0e0;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

table thead {
    background-color: navy;
    color: white;
}

th:first-child, td:first-child {
    padding-left: 15px;
}

table tbody tr {
    cursor: pointer;
}
.project-container{
    display: flex;
    flex-direction: row;
}

.project-list{
    justify-content: space-around;
    background-color: aquamarine;
    margin: 25px;
    border: 1px solid black;
    display: inline-block;
    width: 250px;
    border-radius: 3px;
}