<div class="tag-container">
  <span class="tag-item" *ngFor="let user of users" (click)="onUserClick(user)"
    [ngClass]="{'active-user': getActiveUserClass(user)}">
    {{user.name}}
  </span>
</div>

<table class="table table-bordered w-100">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Type</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of userProjects">
      <td>{{ project.name }}</td>
      <td>{{ project.status }}</td>
      <td>
        <app-project-type [projectType]="project.type"></app-project-type>
      </td>
      <td>{{ project.owner }}</td>
    </tr>
  </tbody>
</table>