<div>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Gender</th>
        <th>Age</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name | uppercase }}</td>
        <td>{{ user.designation }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.age }}</td>
        <td>
          <user-gender [userGender]="user.gender"></user-gender>
        </td>
      </tr>
    </tbody>
  </table>
</div>
