<table class="u-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Gender</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList" [ngClass]="{'highlight': user.id===selectedUserId}">
        <td>{{ user.name |titlecase }}</td>
        <td>{{ user.designation | uppercase }}</td>
        <td>
            <app-user-gender 
            [userId]="user.id"
            [gender]="user.gender"
            (userSelected)="selectedUser($event)">
        </app-user-gender>
        </td>
        <td>{{ user.age }}</td>
      </tr>
    </tbody>
  </table>