<div class = "det-row">
  <strong>User Name: </strong>
  <span>{{user && user.name}}</span>
</div>

<div class = "det-row">
  <strong>User Designation: </strong>
  <span>{{user && user.designation}}</span>
</div>

<div class = "det-row">
  <strong>User Gender: </strong>
  <span>{{user && user.gender | titlecase}}</span>
</div>

<div class = "det-row">
  <strong>User Age: </strong>
  <span>{{user && user.age}}</span>
</div>

<div class = "det-row">
  <strong>User Salary: </strong>
  <span>{{user && user.salary | currency}}</span>
</div>
