<h1 style="text-align: center"> Login </h1>

<div class="login">
    <div class="login">
        <form [formGroup]="loginForm" class="login-container" (ngSubmit)="onSubmit()">
            <p>
                <input type="text" placeholder="Email" formControlName="email">
            </p>

            <p>
                <input type="password" placeholder="Password" formControlName="password">
            </p>

            <p>
                <input type="submit" value="Log in">
            </p>
        </form>
    </div>
