<app-user-filter (searchUser)="onSearchUser($event)" (filterByDesignation)="onFilterByDesignation($event)"
  (filterByGender)="onFilterByGender($event)"></app-user-filter>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" 
    (click)="onUserClick(user)" 
    [ngClass]="{'active-user': getActiveUserClass(user)}">
      <td>{{ user.name | titlecase }}</td>
      <td>{{ user.designation }}</td>
      <td>
        <app-user-gender [userGender]="user.gender"></app-user-gender>
      </td>
    </tr>
  </tbody>
</table>