table{
    border-collapse: collapse;
    width: 100%;
    /* border-right: 2px solid gray; */
   
}

table thead{
    background-color: black;
    color: white;
}

th:first-child, td:first-child{
    padding-left: 15px;
}

table tbody tr{
    cursor: pointer;
}

.active-user{
    background-color: #f3f3f3;
}
