<app-user-filter 
  (searchName)="onSearchUser($event)" 
  (filteringByStatus)="onfilterByStatus($event)"
  (filteringByGender)="onfilterByGender($event)">
</app-user-filter>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" (click)="onUserClick(user)" 
        [ngClass]="{'active-user':getActiveUser(user)}"
        
        [routerLink]="['/users',user.id]"
        routerLinkActive="active-link"
        >

      <td>{{ user.name }}</td>
      <td>{{ user.status }}</td>
      <td>
        <app-user-gender [gender]="user.gender"></app-user-gender>
      </td>
    </tr>
  </tbody>
</table>