/* .summary_box{
    width: 30%;
    margin: 0 1.5% 1.5% 1.5%;
    height: 120px;
    border: 1px solid #f3f3f3;
    box-shadow: 0 0 5px #f3f3f3;
    box-sizing: border-box;
    float: left;
    padding: 10px;
} */

.summary_row {
    display: flex;
   
}
.col-4 {
    margin-top: 10px;
}
.summary_box {
    width: 100%;
    margin: 0 1.5% 1.5% 1.5%;
    height: 140px;
    border: 1px solid #f3f3f3;
    box-shadow: 0 0 5px #f3f3f3;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}