<div class = "det-row">
  <strong>User Name: </strong>
  <span>{{user.name}}</span>
</div>

<div class = "det-row">
  <strong>User Designation: </strong>
  <span>{{user.designation}}</span>
</div>

<div class = "det-row">
  <strong>User Gender: </strong>
  <span>{{user.gender | titlecase}}</span>
</div>

<div class = "det-row">
  <strong>User Age: </strong>
  <span>{{user.age}}</span>
</div>

<div class = "det-row">
  <strong>User Salary: </strong>
  <span>{{user.salary | currency}}</span>
</div>
<button type="button" class="btn btn-primary" (click)="goToUserPage()">Go Back</button>
