.wrapper {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    width: 50%
   
}

table thead{
    background-color: black;
    color: white;
}
.btn:hover{
    background-color: black;
    color: white;
    transition: 0.1s ease-in;
}