<div *ngIf = "spinner">
    <app-atom-spinner
            [animationDuration]="1000"
            [size]="60"
            [color]="'#ff1d5e'">
    </app-atom-spinner>
</div>
<table class="table table-bordered w-50">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts" (click)="onClickShowPostComments(post)">
        <td>{{ post.id }}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td *ngIf="display && post.id === selectedPost.id">
        <span *ngFor="let comment of comments">
            <h6>posted By:</h6>
        <span class="name">{{comment.name}}</span>
             <h6>Comments:</h6>
        <span class="body">{{comment.body}}</span>
          </span>
        </td>
    </tr>
    </tbody>
</table>
