<div class ="spinner" *ngIf ="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div class="container-box" *ngIf ="!loading">
    <div class="post-box" *ngFor="let post of posts" (click)="onClickShowPostComments(post)">
        <span>{{post.id}}</span>
        <span>{{post.title}}</span>
        <ol *ngIf="post.id === userSelectedPostIdList.id">
            <li *ngFor="let comment of postComments">
                {{comment.name}}
            </li>
        </ol>
    </div>
</div>
