<table class="table table-bordered w-50">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts" (click)="onClickShowPostComments(post)">
        <td>{{ post.id }}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td *ngIf="display && post.id === selectedPost.id">
        <span *ngFor="let comment of comments">
            <h1>Email</h1>
        <span class="email">{{comment.email}}</span>
             <h1>Body</h1>
        <span class="body">{{comment.body}}</span>
          </span>
        </td>
    </tr>
    </tbody>
</table>
