<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects" [style.backgroundColor]="getRowColor(project)">
      <td>{{ project.name }}</td>
      <td>{{ project.description }}</td>
      <td >{{ project.owner }}</td>
      <td>
        <app-project-type 
        (projectSelected)="onProjectSelected($event)"
        [projectType]="project.type"
        [projectId]="project.id"
        ></app-project-type>
      </td>
    </tr>
  </tbody>
</table>
