<app-person-summary>
</app-person-summary>



<div class="person-list">
    <app-person-list (personSelected)="onPersonSelect($event)" [selectedPerson]="selectedPerson"></app-person-list>
</div>




<div class="person-detail">
    <button class="btn btn-primary mr-3" [routerLink]="['reactive-form-add']">Add Person Details Using Reactive Form</button>
    <app-person-details [person]="selectedPerson"></app-person-details>
</div>

<button class="logout-btn" (click)="logout()">
    Logout
</button>