<!-- main app container -->
<div class="container mt-5">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h5 class="mb-4">Project Creation - Reactive Form with Validation</h5>
        <form [formGroup]="projectCreationForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Project Name</label>
            <input type="text" formControlName="projectName" class="form-control" [ngClass]="{ 'is-invalid': submitted && controls.projectName.errors }" />
            <div *ngIf="submitted && controls.projectName.errors" class="invalid-feedback">
              <div *ngIf="controls.projectName.errors.required">Project Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Project Description</label>
            <textarea formControlName="projectDescription"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && controls.projectDescription.errors }" >
            </textarea>
            <div *ngIf="submitted && controls.projectDescription.errors" class="invalid-feedback">
              <div *ngIf="controls.projectDescription.errors.required">Project Description is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Project Type</label>
            <select class="custom-select" formControlName="projectType">
              <option value="">Select project type</option>
              <option [value]="projectTypeOptions.SCRUM"> {{projectTypeOptions.SCRUM}}</option>
              <option [value]="projectTypeOptions.KANBAN"> {{projectTypeOptions.KANBAN}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="submitted && controls.projectType.errors?.required">
              <sup>*</sup>Project Type is required
            </div>
          </div>
          <div class="form-group">
            <label>Project Owner</label>
            <select class="custom-select" formControlName="projectOwner">
              <option value="">Select project owner</option>
              <option *ngFor="let user of userOptions" [ngValue]="user.name">{{user.name}}</option>

            </select>
            <div class="invalid-feedback" *ngIf="submitted && controls.projectOwner.errors?.required">
              <sup>*</sup>Project Owner is required
            </div>
          </div>
          <div class="form-group text-right">
            <button class="btn btn-primary mt-3">Create New</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>