<app-user-filter (searchUser)="onSearchByName($event)"
                    (filterByDesignation)="onFilterByDesignation($event)"
                    (filterByGender)="onFilterByGender($event)"></app-user-filter>
<table class="table table-bordered w-100">
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Gender</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" 
    (click) ="onUserClick(user)" 
    [ngClass]="{'active-user': getActiveUserClass(user)}">
      <td>{{ user.name | titlecase }}</td>
      <td>{{ user.designation }}</td>
      <td>
          <app-user-gender  [userGender]="user.gender"></app-user-gender>
      </td>
      <td [routerLink]="['/edit/users', user.id]"><i class="fa fa-pencil-square-o"></i></td>
      <td (click) ="onClickDeleteUser(user.id)"><i class="fa fa-times "></i></td>
  </tr>
  </tbody>
</table>
