<app-user-filter (searchUser)="onSearchUser($event)"
                 (filterByGender)="onFilterByGender($event)"
                 (filterByType)="onFilterByType($event)">
</app-user-filter>
<table class="table table-bordered w-100">
  <thead>
  <tr>
    <th>Name</th>
    <th>Designation</th>
    <th>Type</th>
    <th>Gender</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users"
      (click)="onUserClick(user)"
  [ngClass]="{'active-user-row':getActiveUserRow(user)}">
    <td>{{ user.name }}</td>
    <td>{{user.designation}}</td>
    <td>{{ user.type }}</td>
    <td><app-user-gender [gender]="user.gender"></app-user-gender></td>
    <td><button class="btn btn-primary mt-2" (click)="editUser(user.id)">Edit</button> </td>
    <td><button class="btn btn-danger mt-2" (click)="onDeleteUserId(user.id)">Delete</button></td>
  </tr>
  </tbody>
</table>
